<div class="col mt-3" style="word-wrap: break-word">
    <p style="font-size: 12px;" class="mt-2">Login:</p> 
    <p>{{ user.Login }}</p>

    <p style="font-size: 12px;" class="mt-2">ID:</p> 
    <span> {{ user.Id }}</span>

</div>

<div class="col">

    <p style="font-size: 12px;" class="mt-1">Available programs:</p> 
    <div class="row d-flex align-items-center">
        <span class="mr-1" style="font-size: 12px;">Blog | </span>
        <app-badge text="User" class="mr-1 mb-1"></app-badge>
        <app-badge text="Admin" class="mr-1 mb-1"></app-badge>

    </div>
    <div class="row d-flex align-items-center mt-1">
        <span class="mr-1" style="font-size: 12px;">Administration panel | </span>
        <app-badge text="Admin" class="mr-1"></app-badge>
    </div>
    <div class="row d-flex align-items-center mt-1">
        <span class="mr-1" style="font-size: 12px;">Social network | </span>
        <app-badge text="User" class="mr-1"></app-badge>
    </div>
</div>
