<div class="col">
    <div class="row mt-2">
        <span style="font-size: 12px;">Name</span>
        <input [(ngModel)]="application.Name">
    </div>
    <div class="row mt-2">
        <span style="font-size: 12px;">ID</span>
        <input [(ngModel)]="application.Id">
    </div>
    <div class="row mt-2">
        <span style="font-size: 12px;">Description</span>
        <input [(ngModel)]="application.Description">
    </div>
    <div class="row mt-2">
        <span style="font-size: 12px;">URL</span>
        <input [(ngModel)]="application.URL">
    </div>
</div>

<div class="col mt-2">

    
    <div class="row d-flex justify-content-start">
        <p style="font-size: 12px;" class="mt-1">Roles:</p> 
    </div>
    <hr>
    
    <app-application-form-roles-editor [application]="application"></app-application-form-roles-editor>
  
    
</div>