<div class="col">
    <div class="row mt-2">
        <span style="font-size: 12px;">ID</span>
        <input [(ngModel)]="account.Id" style="width: 100%;">
    </div>
    <div class="row mt-2">
        <span style="font-size: 12px;">Login</span>
        <input [(ngModel)]="account.Login"  style="width: 100%;">
    </div>

    <div class="row mt-2">
        <span style="font-size: 12px;">Password</span>
        <input [(ngModel)]="account.Password"  style="width: 100%;">
    </div>

</div>

<div class="col mt-2">

    <div class="row d-flex align-items-center">
        <span style="font-size: 12px;">Roles: </span> 
    </div>

           
    <div class="col">
        <app-account-form-roles-editor [account]="account"></app-account-form-roles-editor>
    </div>
   
</div>
