.client-preview
{
    max-width: 300px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.badge
{
    border-radius: 5px;
    background-color: #4050b5;
    padding: 5px;
    font-size: 12px;
}

.badge:hover
{
    cursor: pointer;
}
