<main>


    <app-header-default></app-header-default>

    <div class="container p-3">
       
        <div class="row align-items-center">
           <h4>Мои доступные приложения</h4> <i class="material-icons ml-1" style="font-size: 14px;" >add</i>
        </div>

        <div class="client-preview mt-2">

            <div class="row d-flex justify-content-between align-items-center">

                <h4>Блог</h4>

                <i class="material-icons" style="font-size: 14px;">open_in_new</i>

            </div>

            <p class="mt-1">
                Приложения для возможности размещения инфо-постов с важной информацией
            </p>

            <hr>

            <div class="row">
                
                <span class="badge mr-2">
                    Пользователь
                </span>

                <span class="badge mr-2">
                    Модератор
                </span>

            </div>
        </div>

    </div>

</main>
<app-footer-default></app-footer-default>