<div class="col">
    <div class="row mt-2">
        <span style="font-size: 12px;">Name</span>
        <input [(ngModel)]="client.Name">
    </div>
    <div class="row mt-2">
        <span style="font-size: 12px;">ID</span>
        <input [(ngModel)]="client.Id">
    </div>
    <div class="row mt-2">
        <span style="font-size: 12px;">Description</span>
        <input [(ngModel)]="client.Description">
    </div>
    <div class="row mt-2">
        <span style="font-size: 12px;">URL</span>
        <input [(ngModel)]="client.URL">
    </div>
</div>