<div class="col">
    <div class="row mt-2">
        <span style="font-size: 12px;">Name</span>
        <input [(ngModel)]="client.Name">
    </div>
    <div class="row mt-2">
        <span style="font-size: 12px;">ID</span>
        <input [(ngModel)]="client.Id">
    </div>
    <div class="row mt-2">
        <span style="font-size: 12px;">Description</span>
        <input [(ngModel)]="client.Description">
    </div>
    <div class="row mt-2">
        <span style="font-size: 12px;">URL</span>
        <input [(ngModel)]="client.URL">
    </div>
</div>

<div class="col mt-2">

    
    <div class="row d-flex justify-content-start">
        <p style="font-size: 12px;" class="mt-1">Roles:</p> 
    </div>
    <hr>
    
    <app-client-roles-editor [client]="client"></app-client-roles-editor>
  
    <hr>

</div>