<main>
    <app-header></app-header>

    <div class="container d-flex justify-content-center align-items-center" style="height: 60vh;">

        <div class="row">
            <div class="col p-2">
                <div class="row align-items-center pl-2 pr-2">
                    <h4>GitBrainsStudio</h4> <span style="font-size: 12px;" class="ml-1"> | Ecosystem </span>
                </div>
                <div class="row" style="width: 300px;">
                    <div class="col">
                        <div class="row p-2">
                            <input>
                        </div>
                        <div class="row p-2">
                            <input type="password">
                        </div>
                        <div class="row d-flex justify-content-end p-2">
                            <button>Войти</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       

    </div>


</main>
<app-footer></app-footer>

